name: Release R package

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:

  build:
    name: Build package source and binary
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-tinytex@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          needs: install
          cache: true
      - name: Build package source
        run: R CMD build .
      - name: Build package binary
        if: runner.os != 'Linux'
        run: R CMD INSTALL --build *.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: MSTWeatherGen_${{ matrix.os }}
          path: |
            *.tar.gz
            *.zip
            *.tgz

  release:
    name: Create GitHub release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
      - name: Create release and upload files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: |
            **/*.tar.gz
            **/*.tgz
            **/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}