on:
  push:
    branches: main
  pull_request:
    branches: main

name: Tests

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
      
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::testthat
          needs: check
      
      - name: Run tests
        run: |
          testthat::test_local()
        shell: Rscript {0}